<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
    <link rel="stylesheet" href="/css/edit_event.css">
</head>
<body>
    <div class="form-container">
        <h1>Edit Event</h1>
        <form method="POST" action="/events/<%= event.id %>?_method=PATCH">
            <input type="text" name="title" value="<%= event.title %>" required />
            <input type="date" name="eventDate" value="<%= event.event_date.toISOString().split('T')[0] %>" required />

            <input type="time" name="openingTime" value="<%= event.opening_time %>" required />
            <input type="time" name="closingTime" value="<%= event.closing_time %>" required />
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>