<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link rel="stylesheet" href="/css/events-saved.css" />

    <!-- google Icon Link -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back_ios_new"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("partials/sidebar") %>

    <!-- Show All Saved Events -->
    <div class="saved-events">
      <h1 class="title">Saved Events</h1>

      <table class="events-table">
        <thead>
          <tr>
            <th>Seq No</th>
            <th>ID</th>
            <th>Title</th>
            <th>Event Date</th>
            <th>Opening - Closing Time</th>
            <th>Website (WB)</th>
            <th>Facebook (FB)</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% events.forEach(event => { %>
          <tr>
            <td><%= event.seq_no %></td>
            <td><%= event.id %></td>
            <!-- <td> event.group_id </td> -->
            <td><%= event.title %></td>
            <td><%= new Date(event.event_date).toLocaleDateString("en-GB") %></td>
            <td><%= event.opening_time %> - <%= event.closing_time %></td>
            <!-- <td><%= event.next_day_closing %></td> -->
            <td>
              <% if (event.website_url) { %>
              <a href="<%= event.website_url %>" target="_blank">WB</a>
              <% } else { %> N/A <% } %>
            </td>
            <td>
              <% if (event.facebook_url) { %>
              <a href="<%= event.facebook_url %>" target="_blank">FB</a>
              <% } else { %> N/A <% } %>
            </td>
            <td class="edit-delete">
                <form method="GET" action="/events/<%= event.id %>/edit">
                    <button class="edit-btn">Edit</button>
                  </form>

                <form method="post" action="/events/<%=event.id%>?_method=DELETE">
                    <button type="submit" class="delete-btn">
                    Delete
                    </button>
                </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

  </body>
</html>
